---
import Container from "@/components/ui/container.astro";
import PricingSection from "@/components/ui/react/PricingSection";
import { Link } from "@/components/ui/react/link";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Fireshort - Instantly Edit Shorts/Reels with Subtitles, B-Rolls, Transitions and Animations"
>
  <main class="font-sans">
    <section id="pricing" class="bg-slate-100 h-full py-[150px]">
      <div
        data-aos="fade-up"
        class="flex flex-col p-0 justify-center items-center gap-[50px]"
      >
        <div class="flex flex-col gap-5 justify-center items-center">
          <span class="uppercase text-slate-400 text-sm font-bold"
            >how much it costs tho?</span
          >
          <h2
            class="text-xl md:text-3xl lg:text-5xl font-bold text-fireshort_primary text-center capitalize"
          >
            Straight & Simple Pricing
          </h2>
        </div>
        <PricingSection client:visible />
      </div>
    </section>
  </main>
</Layout>
