---
import { Image } from "astro:assets";
import Container from "./ui/container.astro";
import { FOOTER_LINKS } from "@/lib/constants";
---

<footer class="h-full py-[20px] font-sans bg-slate-800">
  <Container>
    <div class="flex flex-col text-white">
      <Image
        src="/fireshort_logo.png"
        width={200}
        height={200}
        class="mix-blend-luminosity"
        alt="logo"
      />
      <div class="flex items-center">
        <a href="https://twitter.com/fireshortapp"/>        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 py-[50px] text-white">
      {
        Object.entries(FOOTER_LINKS).map(([category, links]) => (
          <div class="flex flex-col">
            <h3 class="text-lg font-bold mb-2">{category}</h3>
            {links.map((link) => (
              <a
                href={`${category === "Product" ? "" : category.toLowerCase()}/${link.link}`}
                class="mb-1 hover:text-blue-600"
              >
                {link.title}
              </a>
            ))}
          </div>
        ))
      }
    </div>
    <div
      class="flex flex-col gap-2 md:flex-row border-t py-4 justify-between items-start md:items-center border-slate-500"
    >
      <p class="text-slate-400">&copy; Fireshort</p>
      <p class="text-slate-400">
        Made with ❤️ in <b>Bengaluru</b>
      </p>
    </div>
  </Container>
</footer>
