---
import { SEO } from "astro-seo";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer";
import CTABanner from "../components/CTABanner";

import "@/styles/globals.css";

export interface Props {
  title: string;
  description?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/og.png",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title +
    " | " +
    "Fireshort - Instantly Edit Shorts/Reels with Subtitles, B-Rolls, Transitions and Animations"
  : "Fireshort - Instantly Edit Shorts/Reels with Subtitles, B-Rolls, Transitions and Animations";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      title={makeTitle}
      description="With Fireshort, Instantly Add Subtitles, B-rolls, Music and Hook Titles with just one click!"
      canonical={canonicalURL}
      twitter={{
        creator: "@fireshort",
        site: "@fireshort",
        card: "summary_large_image",
        image: resolvedImageWithDomain,
        imageAlt:
          "Fireshort, Instantly Add Subtitles, B-rolls, Music and Hook Titles with just one click!",
      }}
      openGraph={{
        basic: {
          type: "website",
          title: `Fireshort - Instantly edit your shorts/reels`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Fireshort, Instantly Add Subtitles, B-rolls, Music and Hook Titles with just one click!",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <CTABanner client:load />
    <script src="../js/main"></script>
    <script
      defer
      src="https://us.umami.is/script.js"
      data-website-id="6d05643c-377f-4671-bfb3-9f1235b3606a"></script>
    <script defer type="text/javascript">
      window.$crisp = [];
      window.CRISP_WEBSITE_ID = "96c2249b-c59e-479c-9317-289cfc0cc099";
      (function () {
        d = document;
        s = d.createElement("script");
        s.src = "https://client.crisp.chat/l.js";
        s.async = 1;
        d.getElementsByTagName("head")[0].appendChild(s);
      })();
    </script>
    <script defer type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "lw3bzie5xl");
    </script>
    <Footer />
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background-size: 224px;
      }
    </style>
  </body>
</html>
