---
import { Image } from 'astro:assets';

// Define the component's properties
interface Props {
  img?: string;
  title: string;
  desc: string;
}

// Destructure and assign props
const { img, title, desc } = Astro.props;
---

<div
  class="bg-white h-auto rounded-lg overflow-hidden flex flex-col gap-3 p-5 shadow-sm border"
>
  {
    img && (
      <div class="bg-gradient-to-b h-[150px] overflow-hidden flex justify-center items-center z-0 rounded-md from-[#6500E0] to-[#2A24D2] cursor-pointer hover-translate">
        <Image width={100}  loading='lazy' height={100} src={img} alt={title} class="w-full object-cover h-auto" />
      </div>
    )
  }
  <h2 class="font-bold mb-2 text-lg">{title}</h2>
  <p>{desc}</p>
</div>

<style>
  .hover-translate {
    transition: transform 0.3s ease;
  }

  .hover-translate:hover {
    transform: translateX(10px) translateY(-10px);
  }
</style>
