---
import { Image } from "astro:assets";
import { Button } from "./button";
import { Link } from "./link";

// Define the component's properties
interface Props {
  price: number;
  isMonthly: boolean;
  popular: boolean;
  variant: string;
  features: string[];
}

// Destructure and assign props
const { price, variant, features, popular, isMonthly } = Astro.props;
---

<div
  class={`relative flex min-w-[350px] flex-col overflow-hidden cursor-pointer justify-center items-start gap-5 shadow-sm border p-8 rounded-md ${popular ? "animated-gradient border-fireshort_red border-2" : "border"} text-slate-500 bg-white md:hover-translate`}
>
  <div class="flex flex-col font-bold gap-4">
    {
      popular && (
        <div class="text-lg border-fireshort_red border rounded-md   bg-red-100 text-fireshort_red p-2">
          Most Popular
        </div>
      )
    }
    <h1 class="text-4xl text-black">
      ${price}/{isMonthly ? "m" : "life time"}
    </h1>
    <p class="text-md text-muted-foreground font-medium">{variant}</p>
  </div>
  <div class="flex flex-col gap-2 p-2">
    {features.map((feature) => <p class="text-lg font-medium">{feature}</p>)}
  </div>
  <Link
    href="https://app.fireshort.in/pricing"
    className=" w-full bg-fireshort_red text-white font-bold py-2 px-4 rounded-md hover:bg-primary-dark"
    >Get Plan</Link
  >
</div>

<style>
  .hover-translate {
    transition: transform 0.3s ease;
  }

  .hover-translate:hover {
    transform: translateX(10px) translateY(-10px);
  }

  @keyframes gradientShift {
    0% {
      background-position: 50% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 50% 50%;
    }
  }

  .animated-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, blue, azure, azure, blue);
    background-size: 300% 300%;
    animation: gradientShift 5s linear infinite;
    z-index: -1;
  }
</style>
